<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <appSettings>
    <add key="googleClientID" value="726001308401-ijcdef2lj0d4pnvk82a8fk2ps7r077du.apps.googleusercontent.com" />
    <add key="googleClientSecret" value="Kn5nt92St97Nht2FXfBVIK6E" />
    <add key="twitterConsumerKey" value="DtRgr8GUeTCxfNIWMQW22Q" />
    <add key="twitterConsumerSecret" value="AXRgUp9JWSogq40VMLHDdFK5mYZq4YZhRINk8kj6Qg" />
  </appSettings>
</configuration>
